<div class="navigation">
    <div class="logo">
       <!-- <embed class="logo-header-svg" src="{{ site.baseurl }}/assets/images/logos/vdl.png" type="image/svg+xml">-->
        <img style="height: 100px" src="{{ site.baseurl }}/assets/images/logos/vdl.png" alt="vdl logo">
    </div>
	<!--<span class="nav-icon"><i class="fa fa-home"></i></span><span class="nav-icon"><i class="fa fa-user"></i></span><span class="nav-icon"><i class="fa fa-cog"></i></span><span class="nav-icon"><i class="fa fa-book"></i></span>-->
	
    <div class="navigation-buttons">
	  <ul>
      {% assign navButtons = "home|team|publications" | split: "|" %}
      {% for nav in navButtons %}
        {% assign navURL = nav %}
        {% assign pageURL = page.url | remove: "/" %}
        {% if nav == "home" %}
          {% assign navURL = "" %}
        {% endif %}
        
        {% if pageURL == navURL %}
          <li class="{{ nav }}-button">
            <a class="active" href="{{ site.baseurl }}/{{ navURL }}">
            <span class="nav-text">{{ nav | upcase }}</span></a>
          </li>
        
        {% else %}
          <li class="{{ nav }}-button">
            <a href="{{ site.baseurl }}/{{ navURL }}">
            <span class="nav-text">{{ nav | upcase }}</span></a>
          </li>
        {% endif %}
      {% endfor %}
	  </ul>
    </div>
</div>
