<!DOCTYPE html>
<html>

<head>
    {% include head_default.html %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.css"/>
    <style type="text/css">
        /*.Caleydosel-image{*/
            /*height: 180px;*/
        /*}*/
    </style>

    <!-- Here we write the publications into the publications javascript variable -->

    {% capture publications %}
    [
    {% for publication in site.publications %}

    {% if publication.image_large %}
    {
    "title"    : "{{ publication.title }}",
    "shortname" : "{{ publication.shortname }}",
    "url"      : "{{ publication.permalink }}",
    "image_large"     : "{{ publication.image_large }}",
    }
    {% endif %}
    {% if forloop.last %}{% else %},{% endif %}
    {% endfor %}
    ]
    {% endcapture %}
    <script>
    var publications = {{ publications | strip_newlines }}
    </script>
</head>

<body>

<div class="wrap">
{% include header.html %}
    {% include banner.html %}

  <article class="home-content-main">

  <h1>About</h1>


      <p>We are a team of visualization researchers at the University of Utah. Our interests include the process of designing and developing visualizations, visualization for biology, visualization frameworks,  and, more generally, visualization of big, heterogeneous, and complex datasets. </p>
      <p>VDL is part of the <a href="http://www.sci.utah.edu/">Scientific Computing and Imaging Institute</a> and the <a href="http://www.cs.utah.edu/">School of Computing</a>. </p>




  <h1>News <span class="left-icon"><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></span></h1>

  <ul class="post-list">
    {% for post in site.posts limit:4 %}
      <li class="post-list-item">
		   <!--<p style="text-align:right;">{{ post.date | date: "%-d %b %Y" }}</p>-->
		   <div class="right-text">{{ post.date | date: "%-d %b %Y" }}</div>
        <div class="post-list-title">
          {{ post.title }}
        </div>
        <div class="post-list-excerpt">
		  {{ post.content | truncatewords: 60 }}
        </div>
  		<div><a class="post-list-link" href="{{ site.baseurl }}{{ post.url }}">More...</a></div>         
      </li>
    {% endfor %}
  </ul>
  <!-- <p style="font-family:$condensed-font-family;"><b><a href="news">See All News</a></b></p> -->
  <div class="all-news-link"><a href="news">See All News</a></div>
  

  </article>

  <article class="home-content-aside">
	  
	  <h1>Recent Papers</h1>
	  	  
	      <ul class="publication-icon-list">
              {% assign sorted_publications = (site.publications | sort: 'year' %}
	          {% for publication in sorted_publications reversed %}
	          {% if publication.year > 2014 %}
	          <li><div style="padding-right: 1.5em;"><a href="{{ site.baseurl }}{{ publication.url }}">{{ publication.title }}</a></div><div style="margin-bottom: 5px;">{{publication.journal-short}}, {{publication.year}}</div></li>
              {% endif %}
	          {% endfor %}
	      </ul>
	  	  




      <!--
   <h1>Partners</h1>
   <ul class="institution-icon-list">
     {% for institution in site.institutions reversed %}
     <li><a href="{{ institution.website }}">{{ institution.name }}</a><br>{{ institution.location }}</li>
     {% endfor %}
   </ul>

 <h1>Projects</h1>
   <ul class="project-icon-list">
     {% assign sorted_projects = (site.projects | sort: 'order' %}
     {%for project in sorted_projects %}

     <li><a href="{{ site.baseurl }}{{ project.url}}">{{ project.name }}</a><br>{{ project.title }}</li>
     {% endfor %}
   </ul>
-->

    <h1>Funding</h1>
    <ul class="funding-icon-list">
        {% assign sorted_grants = (site.funding | sort: 'agency' %}
      {% for grant in sorted_grants %}
      {% if grant.active != empty %}
      {% if agency != grant.agency %}
      <li><a href="{{ site.baseurl }}/funding">{{ grant.agency }}</a></li>
      {% endif %}
      {% endif %}
      {% assign agency = grant.agency %}
      {% endfor %}
    </ul>
  
    <h1>Associated</h1>
    <ul class="institution-icon-list">
       {% for institution in site.institutions %}
         <li>
           <a href="{{ institution.website }}"><img class="institution-logo" src="{{ site.baseurl }}{{ institution.logo }}" alt="{{ institution.website }}"></a>
         </li>
       {% endfor %}
    </ul>
  </article>


    {% include footer.html %}
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.min.js"></script>

{% if site.use_analytics == true %}
{% include google_analytics.html %}
{% endif %}

<script language="JavaScript">
    $(document).ready(function(){
        $('.Caleydosel').slick({
//            lazyLoad: 'progressive',
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
//            centerMode:true,
//            centerPadding:'0%',
            arrows:false,
            dots:true,
            speed:1000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true
                    }
                }
            ]
    });
    });
</script>

</body>
</html>