<!DOCTYPE html>
<html>

<head>
    {% include head_default.html %}

    <!-- Here we write the publications into the publications javascript variable -->

    {% capture publications %}
    [
    {% for publication in site.publications %}

    {% if publication.personal  %}
    {% elsif publication.image_large%}
    {
    "title"    : "{{ publication.title }}",
    "shortname" : "{{ publication.shortname }}",
    "url"      : "{{ publication.url }}",
    "image_large"     : "{{ publication.image_large }}",
    }
    {% if forloop.last %}{% else %},{% endif %}
    {% endif %}
    {% endfor %}
    ]
    {% endcapture %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
// source: http://serversideguy.com/2017/04/10/can-i-add-custom-styles-to-my-embedded-twitter-timeline/ 
        jQuery('.twitter-block').delegate('#twitter-widget-0','DOMSubtreeModified propertychange', function() {
            //function call to override the base twitter styles
            customizeTweetMedia();
        });

        var customizeTweetMedia = function() {
            console.log("called");
            //overrides font styles and removes the profile picture and media from twitter feed
            //jQuery('.twitter-block').find('.twitter-timeline').contents().find('.timeline-Tweet-media').css('display', 'none');
            //jQuery('.twitter-block').find('.twitter-timeline').contents().find('img.Avatar').css('display', 'none');
            //timeline-Header-title
            jQuery('.twitter-block').find('.twitter-timeline').contents().find('span.TweetAuthor-avatar.Identity-avatar').remove();
            jQuery('.twitter-block').find('.twitter-timeline').contents().find('span.TweetAuthor-screenName').css('font-size', '66px');
            jQuery('.twitter-block').find('.twitter-timeline').contents().find('span.TweetAuthor-screenName').css('font-family', 'Raleway');


            //also call the function on dynamic updates in addition to page load
            jQuery('.twitter-block').find('.twitter-timeline').contents().find('.timeline-TweetList').bind('DOMSubtreeModified propertychange', function () {
                customizeTweetMedia(this);
            });
        };

        customizeTweetMedia();

    var publications = {{ publications }}




    </script>
</head>

<body>

<div class="wrap">
{% include header.html %}
    {% include banner.html %}

  <article class="home-content-main">

  <h1>About</h1>


      <p>We are a team of visualization researchers at the University of Utah. Our interests include the process of designing and developing visualizations, visualization for biology, visualization frameworks,  and, more generally, visualization of big, heterogeneous, and complex datasets. </p>
      <p>VDL is part of the <a href="http://www.sci.utah.edu/">Scientific Computing and Imaging Institute</a> and the <a href="http://www.cs.utah.edu/">School of Computing</a>. </p>



    <a class="twitter-timeline" data-dnt="true" data-theme="light" data-link-color="#a74730" href="https://twitter.com/visdesignlab?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


 <!-- <h1>News <span class="left-icon"><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></span></h1>

  <ul class="post-list">
    {% for post in site.posts limit:3 %}
      <li class="post-list-item">
		   <div class="right-text">{{ post.date | date: "%-d %b %Y" }}</div>
        <div class="post-list-title">
          {{ post.title }}
        </div>
        <div class="post-list-excerpt">
		  {{ post.content | truncatewords: 160 }}
        </div>
  		<div><a class="post-list-link" href="{{ site.baseurl }}{{ post.url }}">More...</a></div>         
      </li>
    {% endfor %}
  </ul>
  <div class="all-news-link"><a href="news">See All News</a></div>
  
-->
  </article>

  <article class="home-content-aside">
	  
	  <h1>Recent Publications</h1>
	  	  
	      <ul class="publication-icon-list">
              {% assign sorted_publications = site.publications | sort: 'year' %}
            {% for publication in sorted_publications reversed %}
            {% if publication.personal %}
	          {% elsif publication.year > 2015 and publication.type == "paper" %}
            <li>
              <div style="padding-right: 1.5em;"><a href="{{ site.baseurl }}{{ publication.url }}">{{ publication.title }}</a></div>
              <div style="margin-bottom: 5px;">
              {% if publication.type == "thesis" %}
                {{ publication.thesis_type }}, {{ publication.month }} {{ publication.year }}
              {% else %}
                {{publication.journal-short}}, {{publication.year}}
              {% endif %}
              </div>
            </li>
            {% endif %}
	          {% endfor %}
	      </ul>  

  </article>


    {% include footer.html %}
</div>

{% if site.use_analytics == true %}
{% include google_analytics.html %}
{% endif %}

</body>
</html>