---
layout: default
title: Post | Vis Design Lab
---

<div class="home">

  <div class="banner">
  </div>	

  <article class="post-content-main">
	       <h1> {{ page.title }} </h1>
<div class="post-meta">
        {% if page.authors %}
      {% for author in page.authors %}
      {% include person_name_link.html key=author %}{% if forloop.last %}{% else %},{% endif %}{% endfor %}
      {% endif %} 
      <br>
      {{ page.date | date: "%B %-d, %Y" }}
      <br>
      <br>
    </div>
      <div class="post-list-excerpt">
          {{ content }}
      </div>              
      </li>
  </ul>
</article>

</div>