---
layout: default
---
<div class="funding">

    <header class="funding-title">
        <h1>{{ page.title | remove: "| Vis Design Lab" }}</h1>
    </header>

    <article class="publication-content-main">

        <h2>Abstract</h2>
        {{ page }}

        {% if page.publications %}
            <h2>Publications</h2>

            {% for publication_key in page.publications %}
                {% for publication in site.publications %}
                    {% if publication.key == publication_key %}
                        {% include publication_list_entry.html %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}


    </article>
    <article class="publication-content-aside">

        {% if page.logo %}
        	<img id="funding-image" alt="{{ page.agebct }}"  src="{{ site.baseurl }}/assets/images/grants/{{ page.logo }}">
        {% endif %}

        <p>Funded by: {{ page.agency }}</p>
        {% if page.number %}

        {% if page.agency-website %}
        <p>Number: <i class="fa fa-external-link"></i> &nbsp;<a href="{{ page.agency-website }}">{{page.number}}</a></p>
        {% else %}
        <p>Number: {{page.number}}</p>
        {% endif %}

        {% endif %}

        {% if page.program %}
        <p>Program: {{page.program}}</p>
        {%endif%}

        <p>Period: {{page.time}}</p>

        {% assign known = false %}

        <p>Principal Investigator:
            {% for person in site.persons %}
            {% if page.pi == person.key %}
            <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>
            {% assign known = true %}
            {% endif %}
            {% endfor %}
        {% if known == false %}
            {{page.pi}}
        {% endif %}
        </p>

     {% if page.coinvestigators %}
        <p>Co-Investigator(s):
        <ul>
            {% for coinvestigator in page.coinvestigators %}
                {% assign known = false %}
                {% for person in site.persons %}
                    {% if coinvestigator == person.key %}
                        <li> <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a></li>
                        {% assign known = true %}
                    {% endif %}
                {% endfor %}
                {% if known == false %}
                    <li> {{coinvestigator}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        </p>
        {% endif %}


        {% if page.recipients %}
        <p>Institutions:</p>
        <p>
        <ul>
            {% for recipient in page.recipients %}
            <li> {{ recipient }}</li>
            {% endfor %}
        </ul>
        </p>
        {% endif %}

        {% if page.partners %}
        <p>Partners: {{page.partners}}</p>
        {%endif%}


        {% if page.updated %}
        <p>Last Updated: {{page.updated}}</p>
        {% endif %}


    </article>
</div>