---
layout: default
---
<div class="team">

  <header class="team-title">
    <h1>{{ page.title | remove: "| Caleydo" }}</h1>
  </header>

  <article class="team-content-left">
      <h1>Faculty</h1>

      {% include person.html key="meyer" %}
      {% include person.html key="lex" %}

      <h1>PhD Students</h1>

      {% include person.html role="phdstudent" %}
      
      <h1>Masters Students</h1>
      
      {% include person.html role="msstudent" %}
      
      <h1>Undergraduate Students</h1>
      
      {% include person.html role="undergrad" %}
  </article>


</div>