---
layout: default
---
<div class="team">

  <!--<header class="team-title">
    <h1>{{ page.title | remove: "| Vis Design Lab" }}</h1>
  </header>-->
	  
	  <div class="banner-team">
      {% include team_header.html %}
	  </div>
    
    {% for person in site.persons %}
      {% if person.graduated == null %}
        {% if person.role == 'phdstudent' %}
          {% assign ifphdstudent = 'true' %}
        {% elsif person.role == 'postdoc' %}
            {% assign ifpostdoc = 'true' %}
        {% elsif person.role == 'msstudent' %}
            {% assign ifmsstudent = 'true' %}
        {% elsif person.role == 'undergrad' %}
            {% assign ifundergrad = 'true' %}
        {% endif %}
      {% endif %}
    {% endfor %}
	  
  <article class="team-content">
      <h1>Faculty</h1>

      {% include person.html key="meyer" %}
      {% include person.html key="lex" %}

      {% if ifpostdoc == 'true' %}
      <p class="space">&nbsp;</p>
      <h1>Post-Doctoral Fellows</h1>

      {% include person.html role="postdoc" %}
      {% endif %}


      {% if ifphdstudent == 'true' %}
        <p class="space">&nbsp;</p>
        <h1>PhD Students</h1>
        
        {% include person.html role="phdstudent" %}
      {% endif %}
      
      {% if ifmsstudent == 'true' %}
        <p class="space">&nbsp;</p>
        <h1>Master's Students</h1>

        {% include person.html role="msstudent" %}
      {% endif %}
      
      {% if ifundergrad == 'true' %}
        <p class="space">&nbsp;</p>
        <h1>Undergraduate Students</h1>

        {% include person.html role="undergrad" %}
      {% endif %}
      
      <p class="space-alumni">&nbsp;</p>
      <h1>Alumni</h1>
      <p class="person-list-block">
      {% for p in site.persons %}
        {% if p.graduated %}
        {% capture name %}{{ p.first_name }} {{ p.last_name }}{% endcapture %}
          <span class="alumni">
          <a href="{{ p.website }}">{{ name }}</a>{% if p.graduated != "N" %}, {{ p.graduated }}{% endif %}
          </span>
        {% endif %}
      {% endfor %}
      </p>
      
  </article>

