---
layout: default
---
<div class="team">

  <!--<header class="team-title">
    <h1>{{ page.title | remove: "| Vis Design Lab" }}</h1>
  </header>-->
	  
	  <div class="banner-team">
      {% include team_header.html %}
	  </div>
	  
  <article class="team-content">
      <h1>Faculty</h1>

      {% include person.html key="meyer" %}
      {% include person.html key="lex" %}
      
      <p class="space">&nbsp;</p>
      <h1>PhD Students</h1>

      {% include person.html role="phdstudent" %}
      
      <!-- <p class="space">&nbsp;</p> -->
      <!-- <h1>Masters Students</h1> -->
      
      {% include person.html role="msstudent" %}
      <p class="space">&nbsp;</p>
      <h1>Undergraduate Students</h1>
      
      {% include person.html role="undergrad" %}
      
      <p class="space-alumni">&nbsp;</p>
      <h1>Alumni</h1>
      <p class="person-list-block">
      {% for p in site.persons %}
        {% if p.graduated %}
        {% capture name %}{{ p.first_name }} {{ p.last_name }}{% endcapture %}
          <span class="alumni">
          <a href="{{ p.website }}">{{ name }}</a>, {{ p.graduated }}
          </span>
        {% endif %}
      {% endfor %}
      </p>
      
  </article>

